@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

img.d-inline-block.align-text-top{
    margin-left: 150px;
}

.navbar-nav{
    margin-right: 150px;
}

.navbar-collapse{
    justify-content: right;
}

a.nav-link.active{
    font-size: 1.6rem;
}

a.nav-link.active:hover{
    color: red;
}

/* SECCIONES, INICIO, ACERCADE, PRODUCTOS, ETC*/

body{
    background-color: #f0f0f0;
}

.carousel-inner{
    height: 70vh;
}



/* FOOTER */

footer{
    width: 100%;
    padding: 20px 0px 0px;
    background-color: #161616;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    max-width: 2000px;
}

.box__footer{
    display: flex;
    flex-direction: column;

}

.box__footer h2{
    margin-bottom: 9px;
    color: #f0f0f0;
    font-weight: 600;
}

.box__footer a{
    margin-top: 10px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.box__footer a:hover{
    opacity: 0.8;

}

.box__footer a .far{
    font-size: 15px;
    margin-right: 10px;
}
.box__footer a .fas{
    font-size: 15px;
    margin-right: 10px;
}

.box__copyright{
    max-width: 2000px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0%;
}

.box__copyright p{ 
    font-size: 12px;
    color:rgb(255, 255, 255) ;
}

.box__copyright hr{
    border: none;
    background-color: rgb(255, 255, 255);
    height: 1px;
}

